# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

.idea/vcs.xml
.idea/
.idea
project/target/scala-2.10/
project/target/streams/compile/incCompileSetup/
src/main/java/
src/main/scala-2.11/
src/test/java/
src/test/scala-2.11/

project/project
